/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    text-align: center;
    flex-grow: 1;
    margin-top: 0%;
    margin-bottom: 0%;
}

.button {
    display: flex;
    margin-right: 1%;
}

button {
    border: none;
    background-color: white;
    font-size: 15px;
}