/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    text-align: center;
    flex-grow: 1;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 35pt;
}

.button {
    display: flex;
    margin-right: 1%;
}

.button button {
    border: none;
    background-color: white;
    font-size: 15px;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 95%;
    font-size: 15pt;
}

li a {
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

.banner img {
    width: 100%;
    height: auto;
}

.products {
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 100%;
    margin-bottom: 0%;
}

.products hr {
    border: none;
    border-top: 1px solid black;
    width: 40%;
    display: inline-block;
}

.products h2 {
    display: inline-block;
    padding: 3%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 0 10px;
}

.grid img {
    width: 100%;
    height: 70%;
    object-fit: cover; /* maintain the ratio of the images */
}

.grid button {
    border: none;
    background-color: #FF0042;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin-top: 2%;
}

.grid > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer div ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    font-size: 12pt;
}

.social {
    font-size: XX-large;
    display: flex;
    justify-content: center;
}

.social i {
    padding: 5px 15px;
}

footer p {
    text-align: center;
    margin: 2% auto;
}

.payment {
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

.payment i {
    padding: 5px 15px;
}