/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    text-align: center;
    flex-grow: 1;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 35pt;
}

.button {
    display: flex;
    margin-right: 1%;
}

button {
    border: none;
    background-color: white;
    font-size: 15px;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 95%;
    font-size: 16pt;
}

li a {
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

.banner {
    position: relative;
    color: white;
}

.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1; /* set the image behind p */
}

.banner p {
    position: absolute;
    padding: 20px;
    margin-top: 30%;
    margin-left: 50%;
    font-size: x-large;
}